{include file='common/head.html'}

<div class="layui-body">
	
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">静态生成</li>
	  </ul>
	  
	  <div class="layui-tab-content">
  	     <div class="layui-tab-item layui-form  layui-show">
  	     
  	     	 <div class="layui-form-item">
                  <label class="layui-form-label">生成首页</label>
                  <button type="button" class="layui-btn make" data-type="1">立即生成首页</button>
             </div>
             
             <div class="layui-form-item">
                  <label class="layui-form-label">生成全站</label>
                  <button type="button" class="layui-btn make" data-type="2">立即生成全站</button>
             </div>
             
     		 <div class="layui-form-item">
                  <label class="layui-form-label">生成栏目页</label>
                  <div class="layui-input-inline">
	                  <select name="scode">
	                      <option value="0" >全部栏目</option>
	                      {$sort_select}
	                  </select>
                  </div>
                  <button type="button" class="layui-btn make" data-type="3">立即生成栏目页</button>
             </div>
             
             <div class="layui-form-item">
                  <label class="layui-form-label">生成内容页</label>
                  <div class="layui-input-inline">
	                  <select name="scode">
	                      <option value="0" >全部栏目</option>
	                      {$sort_select2}
	                  </select>
                  </div>
                  <button type="button" class="layui-btn make" data-type="4">立即生成内容页</button>
             </div>

  	     </div>
	   </div>
	</div>
	
</div>

 <script>
 $(".make").on("click",function(){
	 var type=$(this).data("type");
	 var scode=$(this).parents(".layui-form-item").find("select").val();
	 
	 var lyindex;
	 layui.use('layer', function(){
		var layer = layui.layer;
		lyindex = layer.open({
			type: 1,
			title:'温馨提示',
			closeBtn:0,
			content: '<div style="padding:20px 10px;"><img src="{APP_THEME_DIR}/layui/css/modules/layer/default/loading-0.gif">正在生成...<div>' 
		});
	 });
	
	var url= "?p=/MakeHtml/index";
	$.ajax({
   	  type: 'GET',
   	  url: url,
   	  data:{
   		  type:type,
   		  scode:scode
   	  },
   	  dataType: 'json',
   	  success: function (response, status) {
   		  if(response.code==1){
   			 layer.close(lyindex);
      		 layer.msg(response.data, {icon: 1});
   		  }else{
   			 layer.close(lyindex);
   			 layer.msg(response.data, {icon: 5});
   		  }
        },
        error:function(xhr,status,error){
     	  layer.close(lyindex);
       	  layer.msg("执行生成发生错误!", {icon: 5});
        }
   	});
	
 })
 
 </script>

{include file='common/foot.html'}
